* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #000;
}

body {
  opacity: 0;
  transition: opacity 3s;
}

.hero-screen {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
}

.aatrox-background {
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.123),
      rgba(4, 9, 30, 0.123)
    ),
    url("./images/Aatrox.jpg");
}

.hero-screen h1 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 10px white;
}

.hero-part {
  background-color: black;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero-part h2 {
  padding-top: 50px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 30px;
  text-shadow: 0 0 10px white;
}
.hero-part h1 {
  padding: 50px 0;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 10px white;
}
.container {
  width: 60%;
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  text-shadow: 0 0 10px white;
  overflow: hidden;
  transition: 7s;

  opacity: 0;
  max-height: 0;
}

.container.visible {
  opacity: 1;
  max-height: 400px;
}

.hero-part h1:hover {
  cursor: pointer;
}

.dont {
  text-shadow: 0 0 10px white;
  background-color: black;
  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}
